<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="Averia-Bold" size="small">
      {{ homePage.greetings }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-padding">
          <img src="../../assets/logo-full.png" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-margin">
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-text color="primary">
          <h1 class="who Averia-Bold">
            Who are we?
          </h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="towers-top">
      <ion-col size="4">
        <ion-img class="tower-top" src="../../assets/towers/green-top.png"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img class="tower-top" src="../../assets/towers/purple-top.png"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img class="tower-top" src="../../assets/towers/yellow-top.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text class="Averia-Regular" color="tertiary">
          {{ homePage.description }}
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="towers-bottom">
      <ion-col size="4">
        <ion-img src="../../assets/towers/green-bottom.png"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img class="tower-bottom" src="../../assets/towers/purple-bottom.png"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="../../assets/towers/yellow-bottom.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="modules Averia-Regular">
    <ion-list-header>
      <ion-label color="secondary">
        Modules
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let module of modules" (click)="navigateDetail()">
      <ion-label class="Averia-Regular" color="primary">
        {{ module.title }}
      </ion-label>
      <ion-note class="Averia-Regular" slot="end" color="success">
        {{ module.date | date }}
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-toolbar class="footer">
    <ion-row>
      <ion-col size="8">
        <ion-text color="tertiary">
          <span class="Averia-Regular">{{ homePage.url }}</span> <br />
          <span class="Averia-Regular">{{ homePage.email }}</span>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <img src="../../assets/registered.png" alt="">
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-content>