<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="Averia-Bold">
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="pink">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-padding">
          <img src="../../assets/logo-full.png" alt="">
        </ion-card>
      </ion-col>
      <ion-col class="content">
        <ion-card>
          <ion-card-content>
            <strong class="Averia-Regular">Ready to create an app?</strong>
            <ion-text class="Averia-Regular" color="tertiary">
              {{ text }}
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" size="large" color="secondary">
          Wellbeing
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" size="large" color="secondary">
          Mental Health
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" size="large" color="tertiary">
          Useful Links
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" size="large" color="tertiary">
          Contact Us
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>