ion-label {
    font-family: 'Averia Sans Libre Regular' !important;
}

.who {
    font-size: 3rem;
}

.modules {
    margin-bottom: 5%;
}

ion-toolbar.footer {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;

    ion-text.links {
        font-size: 1rem;
    }

    img {
        height: 3rem;
    }
}