/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Rampart One';
    src: url('./assets/fonts/Rampart_One/RampartOne-Regular.ttf');
}

@font-face {
    font-family: 'Averia Sans Libre Regular';
    src: url('./assets/fonts/Averia_Sans_Libre/AveriaSansLibre-Regular.ttf');
}

@font-face {
    font-family: 'Averia Sans Libre Bold';
    src: url('./assets/fonts/Averia_Sans_Libre/AveriaSansLibre-Bold.ttf');
}

@font-face {
    font-family: 'Averia Sans Libre Italic';
    src: url('./assets/fonts/Averia_Sans_Libre/AveriaSansLibre-Italic.ttf');
}

.rampart-font {
    font-family: 'Rampart One';
}

.Averia-Regular {
    font-family: 'Averia Sans Libre Regular';
}

.Averia-Bold {
    font-family: 'Averia Sans Libre Bold';
}

.Averia-Italic {
    font-family: 'Averia Sans Libre Italic';
}

// html {
//     font-family: 'Averia-Regular';
// }

ion-fab {
    margin-top: var(--ion-safe-area-top, 0);
    margin-bottom: var(--ion-safe-area-bottom, 0);
    margin: 0px -2% 10% 0%;
}


.circle {
    width: 17rem;
    margin-bottom: 0px;
    margin-left: -10rem;
    margin-bottom: 40px;
    
  }
  
  .lax-container {
    // padding-left: 10vw;
    padding-top: 20vh;
    // width: 100vw;
    // overflow-y: hidden;
  }